.command {
    background: rgb(35, 37, 35);
    margin-top: 0px;
    height: calc(100vh - 4rem);
    width: 18rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.commandlist {
    margin-bottom: 30px;
}

.commandinfo {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.searchbox {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.searchboxitem {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 15px;
    transition-duration: 250ms;
    background-color: #1a1919;
    font-family: 'Nunito', sans-serif;
}

.searchboxitem:hover {
    background-color: #1d1c1c;
}


li {
    display: list-item;
    color: white;
}

.listcommand ul {
    transition-duration: 500ms;
}

.listcommand {
    transition-duration: 500ms;
}

.listcommand ul:hover {
    color: cyan;
    cursor: alias;
}

ul {
    list-style: none;

}

.categorylist button {
    border: 0;
    background: transparent;
    color: white;
    padding: 13px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


button:hover {
    background: #312f31;
}


.arrow {
    display: flex;
}

.arrow i {
    padding-left: 5.25px;
    padding-right: 5.25px;
    transition-duration: 500ms;
}

.commandlink {
    display: block;
}

.commandlink:hover {
    color: #52c794;

}

a {
    text-decoration: none;
    color: white;
    transition-duration: 250ms;
}
