.commandlist {
    background: rgb(35, 37, 35);
    margin-top: 0px;
    width: 15rem;
    height: calc(100vh - 4rem);
    overflow-x: hidden;
}

.commandinfo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 20rem);
    margin-left: auto;
    margin-right: auto;
}

.searchbox {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.searchboxitem {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 15px;
    transition-duration: 250ms;
    background-color: #1a1919;
    font-family: 'Nunito', sans-serif;
}

.searchboxitem:hover {
    background-color: #1d1c1c;
}


li {
    display: list-item;
    color: white;
}

ul {
    list-style: none;

}

.listcommand:nth-child(0) ul{
    display: none;
}

.categorylist button {
    border: 0;
    background: transparent;
    color: white;
    padding: 13px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.music {
    border: 0;
    background: transparent;
    color: white;
    padding: 13px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.music:hover {
    background: #312f31;
}

button:hover {
    background: #312f31;
}