.sitefooter {
    display: flex;
    height: 30px;
    background-color: #272727;
    align-items: center;
    justify-content: space-between;
}

.sitefooter>h1 {
    color: white;
    justify-content: center;
    display: flex;
    font-size: small;
    margin-left: calc(100% / 2);
}

.linkfooter {
    margin-right: 15px;
}

.footerlink {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 250ms;
}

.footerlink:hover {
    color: #5bcc99;
}