.sitefooter {
    display: grid;
    grid-template-columns: 233px 340px 233px;
    align-items: start;
    justify-content: space-between;
    background-color: #272727;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sitefooter span {
    display: flex;
    color: white;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
    
    font-size: small;
    grid-column: 2;
    grid-row: 1;
}

.linkfooter {
    grid-column: 3;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
    cursor: none;

}

.footerlink {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 250ms;
    cursor: none;
}

.footerlink .fab {
    cursor: none;
}

.footerlink:hover {
    color: #5bcc99;
}