body, html {
    background-color: #1D1D1D;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #5bcc99;
}

::-webkit-scrollbar-thumb:hover {
    background: #77d4ab;
}

::-webkit-scrollbar-track {
    background: #292828;
}

.container {
    width: 95%;
    margin: auto;
    position: relative;
}

.wip {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 300px;
    font-size: auto;
}

#container {
    overscroll-behavior-y: none;
    height: calc(100vh - 80px);
    overflow: auto;
}

p {
    color: white;
}

.grid {
    display: grid;
    grid-template-rows: 1fr auto;
}

.separate {
    display: flex;
    max-width: 1536px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}